@(name:String)
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Hello</title>
	</head>
	<body>
		<h1>Hello <em>@name</em></h1>
		
		    <form method="post" action = "/foto/restaurante/" enctype="multipart/form-data" >
  
  
		    	<label>valor1</label>
		  	<input type="text" name="v1"/>
		  
		    <label>valor2</label>
		  	<input type="text" name="v2"/>
		  	
		  	<label>geolatitud</label>
		  	<input type="text" name="lat"/>
		  	
		  	
		  	<label>geolongitud</label>
		  	<input type="text" name="lon"/>
  
		    <input type="file" name="foto"/>
		    
		    <p>
		        <input type="submit">
		    </p>
		   </form>
		
	</body>
</html>

